* {
margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#root {
    font-family: 'Poppins', sans-serif;
}

/* GENERAL */
section {
    padding: 100px 0;
}

.flex {
    display: flex;
}

.wrap_70 {
    width: 70%;
    margin: 0 auto;
}

.circle {
    border-radius: 100%;
}

.btn {
    height: 50px;
    width: 260px;
    margin: 30px 0 20px 0;
    border: none;
    border-radius: 5px;
    background-color: #1fad96;
    color: white;
    cursor: pointer;
}
.btn:hover {
    background-color: #3F3A64;
}

/* FONT */
.big_title {
    font-size: 2.8em;
    font-weight: 600;
    color: #3F3A64;
}
.title {
    font-size: 2.1em;
    font-weight: 600;
    color: #3F3A64;
    margin-top: 15px;
    margin-bottom: 30px;
}
.little_title {
    font-size: 1.1em;
    font-weight: 600;
    color: #3F3A64;
    cursor: pointer;
}
#online_courses .little_title:hover {
    color: #1fad96;
}

.subtitle {
    color: #8B89A2;
}

.upper {
    text-transform: uppercase;
}

.smallTxt {
    font-size: 0.8em;
    color: #8B89A2;
}

.green {
    color: #1fad96;
}
.green.thin {
    font-weight: 300;
}
.green_big {
    color: #1fad96;
    font-size: 1.5em;
}
.normal {
    font-size: 0.7em;
}

.centered {
    text-align: center;

}

.little {
    font-size: 0.9em;
}


/* HEADER */
header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header .wrap_70 {
    height: 80px;
    align-items: center;
}

header .logo img {
    height: 25px;
}

header .nav {
    flex-grow: 2;
}
header .nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
header .nav ul li::after {
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-weight: 900;
    content: "\f078";
    margin-left: 10px;
}
header .nav ul li {
    margin: 0 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}
header .nav ul li a {
    text-decoration: none;
    padding-bottom: 5px;
    color: black;
}
header .nav ul li:hover{
    color: #1fad96;
    border-bottom: 1px solid #1fad96;
}
header .nav ul li:hover a{
    color: #1fad96;
}

header .user {
    margin: 0 15px;
    font-size: 1.2em;
}
header .user:hover{
    color: #1fad96;
}

header .log_search {
    position: relative;
    justify-content: center;
    align-items: center;
}

header .log_search input {
    height: 50px;
    width: 100%;
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
header .log_search input:focus {
    outline: none;
    border: 1px solid #1fad96;
}
header .log_search .fa-search {
    position: absolute;
    right: 1px;
    height: 48px;
    width: 50px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 0 5px 5px 0;
    line-height: 50px;
    text-align: center;
    color: #1fad96;
    cursor: pointer;
}
header .log_search .fa-search:hover {
    color: white;
    background-color: #1fad96;
}

/* MAIN */
/* 1^ parte jumbo */
#jumbo {
    margin-top: 70px;
    padding-bottom: 0;
}
.jumbo_sx,
.jumbo_dx {
    flex-direction: column;
    justify-content: center;
}
.jumbo_sx {
    margin-right: 120px;
}
.jumbo_sx .btn i {
    padding-right: 10px;
}
#jumbo .big_title {
    margin-bottom: 15px;
}

.jumbo_dx {
    position: relative;
}
.jumbo_dx .back {
    position: absolute;
    z-index: -1;
}
.jumbo_dx .greenStars {
    right: 10%;
    bottom: 10px;
}
.jumbo_dx .greyDots {
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}
.jumbo_dx .colorCircle {
    top: 80px;
    right: -100px;
}
.jumbo_dx .sandCircle {
    height: 60px;
    width: 60px;
    border: 8px solid #ECC5AC;
    top: 65%;
    left: -60px;
}

/* 2^ parte loghi affiliates */
 #affiliates{
     padding-top: 0;
     margin-top: 50px;
     justify-content: space-around;
     align-items: center;
}
#affiliates img {
    opacity: 0.5;
}

#affiliates img:hover {
    opacity: 1;
}

/* 3^ parte online courses */
#online_courses .centered .title {
    margin-top: 10px;
}
#online_courses .centered {
    padding-bottom: 30px;
    width: 100%;
}

#online_courses {
    background-color: #F5F7FA;
    text-align: center;
}
#online_courses .wrap_70 {
    flex-wrap: wrap;
    justify-content: space-between;
}
#online_courses .card {
    display: flex;
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}
#online_courses .card:hover {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#online_courses .card .cardImg {
    height: 160px;
    min-width: 160px;
    background-size: cover;
    background-position-x: center;
}
#online_courses .card .cardImg.card_1{
    background-image: url("../img/course-01.jpg");  
}
#online_courses .card .cardImg.card_2{
    background-image: url("../img/course-02.jpg");  
}
#online_courses .card .cardImg.card_3{
    background-image: url("../img/course-03.jpg");  
}
#online_courses .card .cardImg.card_4{
    background-image: url("../img/course-04.jpg");  
}
#online_courses .card .cardImg.card_5{
    background-image: url("../img/course-05.jpg");  
}
#online_courses .card .cardImg.card_6{
    background-image: url("../img/course-06.jpg");  
}

#online_courses .card .info_card {
    margin-left: 25px;
    flex-direction: column;
    justify-content: center;
}
#online_courses .card .info_card .little_title {
    margin: 15px 0;
}
#online_courses .card .info_card p i {
    margin-right: 5px;
}
#online_courses .card .info_card p i:not(:first-child) {
    margin-left: 20px;
}

/* 4^ parte smart tutoring */
#smart_tutoring .programs {
    display: flex;
    justify-content: space-between;
}

#smart_tutoring .box {
    width: 30%;
    cursor: pointer;
}
#smart_tutoring .box img {
    margin: 20px 0;
}
#smart_tutoring .box .little_title {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 20px;
}
#smart_tutoring .box .box_description {
    line-height: 1.8em;
    font-size: 0.9em;
    font-weight: 200;
    color: #696969;
    margin-bottom: 15px;
}
#smart_tutoring .box a {
    text-decoration: none;
    color: #8B89A2;
}
#smart_tutoring .box a i{
    margin-left: 5px;
}
#smart_tutoring .box:hover a{
    border-bottom: 1px solid lightgrey;
    color: #1fad96;
}

/* 5^ parte companionship */
#companionship {
    position: relative;
    background-color: #F8F8F8;
    padding: 0;
    z-index: 0;
}
#companionship .container_radius {
    position: relative;
    padding: 100px 0;
    height: 100%;
    border-radius: 0 0 60% 0;
    background-color: white;
    z-index: 1;
}

#companionship .wrap_70 {
    position: relative;
    align-items: center;
}
#companionship .videoBox {
    position: relative;
}
#companionship .video {
    border-radius: 5px;
}
#companionship .over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#companionship .back {
    position: absolute;
    z-index: -1;
}
#companionship .dots {
    top: 15%;
    left: -10%;
}
#companionship .stars {
    top: 80%;
    right: -8%;
}

#companionship .description {
    margin-left: 70px;
}
#companionship .big_title{
    line-height: 1.2em;
    margin: 20px 0;
}
#companionship .blue {
    color: #3F3A64;
    font-weight: 500;
}
#companionship .text {
    color: #8B89A2;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.8em;
    margin-bottom: 50px;
}
#companionship .link {
    font-size: 0.9em;
    color: #1fad96;
    border-bottom: 1px solid lightgrey;
    text-decoration: none;
}
#companionship .link i {
    margin-left: 5px;
}

#companionship .link:hover {
    border-bottom: 1px solid #1fad96;
}

/* 6^ parte user's feedback */
#feedback {
    background-color: #F8F8F8;
}
#feedback .cards {
    justify-content: space-around;
    position: relative;
}
#feedback .card {
    width: 29%;
    padding: 40px;
    background-color: white;
    border-radius: 5px;
}
#feedback .card.on {
    opacity: 1;
}
#feedback .card.off {
    opacity: 0.6;
}
#feedback .card_title {
    color: #3F3A64;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 2em;
}
#feedback .card_text {
    margin: 20px 0;
    line-height: 1.8em;
    color: #696969;
}
#feedback .card_contact img {
    height: 80px;
    margin-right: 20px;
}
#feedback .contact_info {
    flex-direction: column;
    justify-content: space-around;
}
#feedback .contact_info .contact_name {
    color: #3F3A64;
    font-weight: 500;
}
#feedback .cards .nav_cards {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}
#feedback .cards .nav_cards .fa-circle {
    margin: 0 10px;
    font-size: 0.7em;
    color: #B7B5C4;
}
#feedback .cards .nav_cards .fa-circle:not(.active):hover {
    font-size: 1em;
    color: #3F3A64;
    transition: 0.2s;
}
#feedback .cards .nav_cards .active {
    font-size: 1em;
    color: #3F3A64;
}
/* #get_started */
#get_started {
    padding-top: 100px;
    background-color: #F8F8F8;
}
#get_started .little_title {
    font-size: 1.4em;
}
#get_started .title {
    margin-top: 5px;
    margin-bottom: 10px;
}
#get_started .btn {
    margin: 20px;
}

/* 7^ parte numbers */
#numbers {
    padding: 0;
}
#numbers .cards {
    height: 100%;
}
#numbers .cards .card {
    width: 25%;
    padding: 100px 40px;
    border-left: 1px solid #F5F1ED;
    text-align: center;
}
#numbers .cards .card:last-child {
    border-right: 1px solid #F5F1ED;
}
#numbers .little_title {
    font-size: 1.4em;
}
#numbers .big_number {
    margin-top: 30px;
    font-size: 4em;
    font-weight: 700;
    color: #1fad96;
}
#numbers .subtitle {
    font-weight: 500;
}

/* 8^ parte most viewed */
#most_viewed {
    background-color: #F5F1ED;
}
#most_viewed .blog_insights {
    padding-top: 15px;
}
#most_viewed ul {
    list-style: none;
    color:#3F3A64;
    font-weight: 600;
}
#most_viewed li {
    margin: 15px 0;
    line-height: 2em;
}
#most_viewed li:before {
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-weight: 900;
    content: "\f30b";
    margin-right: 10px;
}
#most_viewed li i {
    margin-right: 10px;
}
#most_viewed .blog {
    width: 30%;
    margin: 0  20px;
    background-color: white;
}
#most_viewed .blog img {
    max-width: 100%;
}
#most_viewed .blog .blog_info {
    padding: 20px;
    flex-direction: column;
}
#most_viewed .blog .blog_info .little_title {
    margin-top: 15px;
    margin-bottom: 25px;
}

/* 9^ parte newsletter */
#newsletter .centered{
    max-width: 40%;
    margin: 0 auto;
}

#newsletter .title {
    margin-bottom: 10px;
}

#newsletter .mail_box {
    align-items: center;
    margin-top: 30px;
}
#newsletter .mail {
    height: 50px;
    width: 100%;
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 10px 20px;
}
#newsletter .mail:focus {
    outline: none;
    border: 1px solid #1fad96;
}
#newsletter .mail_box .btn {
    margin: 0;
    border-radius: 0 5px 5px 0;

}


/* FOOTER */
footer {
    padding: 60px;
    background-color: #F8F8F8;
    color: grey;
}
footer .container {
    margin-bottom: 40px;
}
footer ul {
    list-style: none;
    line-height: 2em;
}

footer .adress {
    width: 50%;
    flex-direction: column;
}
footer .adress i {
    color: #A8A8A8;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 1.5em;
}

footer .explore,
footer .information {
    width: 25%;
    padding-right: 50px;
    flex-wrap: wrap;
    align-items: flex-start;
}
footer .information li {
    width: 100%;
}
footer .adress li:first-child,
footer .explore li:first-child,
footer .information li:first-child {
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}
footer .explore li {
    width: 50%;
    display: inline-block;
}
footer .explore li:first-child {
    width: 100%;
}
footer ul:not(.adress) li:not(:first-child):hover,
footer .adress li:nth-child(4):hover,
footer .adress i:hover {
    color: #1fad96;
    transition: 0.2s;
    cursor: pointer;
}
/* DEBUG */

