<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <title>MaxCoach</title>
</head>

<body> 
    <div id="root">
        <!-- inizio header -->
        <header class="flex">

            <!-- wrapper -->
            <div class="wrap_70 flex">

                <!-- logo a sx nell'header -->
                <div class="logo">
                    <img :src="header.logoUrl" alt="logo MaxCoach"/>
                </div>
                
                <!-- nav centrale nell'header -->
                <div class="nav">
                    <ul>
                        <li v-for="item in header.navList"><a href="#">{{item}}</a></li>
                    </ul>
                </div>
                
                <!-- sezione a dx nell'header con user e input search -->
                <div class="log_search flex">
                    <div class="user flex" v-html="header.user">
                    </div>
                    <input type="text" placeholder="Search..."/>
                    <i class="fas fa-search"></i>
                </div>

            </div> <!-- fine wrapper -->   
        </header> <!-- fine header -->

        <!-- inizio main -->
        <main>
            <!-- prima section del main: jumbotron -->
            <section id="jumbo">
                <div class="wrap_70 flex">
                    <div class="jumbo_sx flex">
                        <p class="big_title">Distant learning for further expansion</p>
                        <p class="subtitle">Learning is a life-long journey that in fact we never find the terminate stop. Stop searching, enjoy the process.</p>
                        <button class="btn"><i class="fas fa-download"></i>Download free guide</button>
                        <p class="smallTxt">Have questions? <span class="green">Get free sample <i class="fas fa-long-arrow-alt-right"></i></span></p>
                    </div>
                    <div class="jumbo_dx flex">
                        <img class="back greenStars" src="img/maxcoach-shape-07.png" alt="">
                        <div class="back greyDots">
                            <img src="img/maxcoach-shape-08.png" alt="">
                            <div>
                                <img src="img/maxcoach-shape-08.png" alt="">
                            </div>
                        </div>
                        <div class="back sandCircle circle"></div>
                        
                        <img class="back colorCircle" src="img/maxcoach-shape-02.png" alt="">
                        <img class="circle" src="img/about-me-profile-ohm4dxoearqbxny7q3bq1pzbdgofdx0tobbeqcvzd0.jpg" alt="">
                    </div>
                </div>
            </section>

            <!-- seconda section del main: loghi affiliates -->
            <section id="affiliates" class="flex wrap_70">
                <img src="img/client-logo-01.png" alt="">
                <img src="img/client-logo-02.png" alt="">
                <img src="img/client-logo-03.png" alt="">
                <img src="img/client-logo-04.png" alt="">
                <img src="img/client-logo-05.png" alt="">
                <img src="img/client-logo-06.png" alt="">

            </section>

            <!-- terza section del main: online courses -->
            <section id="online_courses">
                <div class="wrap_70 flex">
                    <div class="centered">
                        <p class="subtitle upper">stimulated to learn?</p>
                        <p class="title">Featured Online Courses</p>
                    </div>
                    <!-- card 1  -->
                    <div class="card">
                        <div class="cardImg circle card_1"></div>
                        <div class="info_card flex">
                            <p class="green_big"><b> $40.<span class="normal">00</span></b> </p>
                            <p class="little_title">Learning to Write as a Professional Author</p>
                            <p class="smallTxt subtitle"><i class="far fa-file-alt"></i>20 Lessons <i class="far fa-user"></i>50 Students</p>
                        </div>
                    </div>
                    <!-- card 2 -->
                    <div class="card">
                        <div class="cardImg circle card_2"></div>
                        <div class="info_card flex">
                            <p class="green_big"><b>Free</b> </p>
                            <p class="little_title">Customer-centric Info-Tech Strategies</p>
                            <p class="smallTxt subtitle"><i class="far fa-file-alt"></i>24 Lessons <i class="far fa-user"></i>769 Students</p>
                        </div>
                    </div>
                    <!-- card 3 -->
                    <div class="card">
                        <div class="cardImg circle card_3"></div>
                        <div class="info_card flex">
                            <p class="green_big"><b> $19.<span class="normal">00</span></b> </p>
                            <p class="little_title">Open Programming Courses for Everyone: Python</p>
                            <p class="smallTxt subtitle"><i class="far fa-file-alt"></i>17 Lessons <i class="far fa-user"></i>62 Students</p>
                        </div>
                    </div>
                    <!-- card 4 -->
                    <div class="card">
                        <div class="cardImg circle card_4"></div>
                        <div class="info_card flex">
                            <p class="green_big"><b> $26.<span class="normal">00</span></b> </p>
                            <p class="little_title">Academic Listening and Note-taking</p>
                            <p class="smallTxt subtitle"><i class="far fa-file-alt"></i>14 Lessons <i class="far fa-user"></i>67 Students</p>
                        </div>
                    </div>
                    <!-- card 5 -->
                    <div class="card">
                        <div class="cardImg circle card_5"></div>
                        <div class="info_card flex">
                            <p class="green_big"><b> $39.<span class="normal">00</span></b> </p>
                            <p class="little_title">Master jQuery in a short Period of Time</p>
                            <p class="smallTxt subtitle"><i class="far fa-file-alt"></i>6 Lessons <i class="far fa-user"></i>51 Students</p>
                        </div>
                    </div>
                    <!-- card 6 -->
                    <div class="card">
                        <div class="cardImg circle card_6"></div>
                        <div class="info_card flex">
                            <p class="green_big"><b> $59.<span class="normal">00</span></b> </p>
                            <p class="little_title">Introduction to Javascript for Beginners</p>
                            <p class="smallTxt subtitle"><i class="far fa-file-alt"></i>14 Lessons <i class="far fa-user"></i>76 Students</p>
                        </div>
                    </div>
                </div>
                <button class="btn">View all Courses <i class="fas fa-long-arrow-alt-right"></i></button>
            </section>

            <!-- quarta section del main: smart tutoring -->
            <section id="smart_tutoring">
                <div class="wrap_70">
                    <div class="centered">
                        <p class="subtitle upper">maxcoach available courses</p>
                        <p class="title">Access <span class="green thin">Smart Tutoring</span> Program For Benefits.</p>
                    </div>
                    <div class="programs">
                        <div class="box">
                            <img src="img/box-01.png" alt="image_box_1">
                            <p class="little_title">Customize preferences</p>
                            <p class="box_description">Learners are given the right to arrange and customize their study schedule and timetable based on preferences.</p>
                            <a href="#">Start here <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                        <div class="box">
                            <img src="img/box-02.png" alt="image_box_2">
                            <p class="little_title">Cloud Storage</p>
                            <p class="box_description">You can store online lessons via online cloud or download to your device and revise lessons on the way.</p>
                            <a href="#">Get Free Quote<i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                        <div class="box">
                            <img src="img/box-03.png" alt="image_box_3">
                            <p class="little_title">Multimedia Channels</p>
                            <p class="box_description">We provide study materials with various formats: video, audio, slides, doc, prints, books and applications.</p>
                            <a href="#">Start Now <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- quinta section del main: companionship -->
            <section id="companionship">
                <div class="container_radius">
                    <div class="wrap_70 flex">
                        <div class="videoBox">
                            <img class="back dots" src="img/maxcoach-shape-05.png" alt="">
                            <img class="back stars" src="img/maxcoach-shape-07.png" alt="">
                            <!-- <div class="back sandCircle circle"></div> -->
                            <img class="video" src="img/home-2-popup-video-poster.jpg" alt="profile">
                            <img class="over" src="img/icon-youtube-play.png" alt="">
                        </div>
                        <div class="description">
                            <p class="subtitle upper">get started <span class="blue">effortlessly</span></p>
                            <p class="big_title">Enjoy Our <span class="green thin">Companionship</span></p>
                            <p class="text">Sneek peek into what has in store for you on our online teaching and mentoring portal. Seek for some hidden hints of
                            early-bird rewards as well.</p>
                            <a class="link" href="#">Download free guidebook<i class="fas fa-long-arrow-alt-right"></i></a>
    
                        </div>
    
                    </div>
                </div>
            </section>

            <!-- sesta section del main: user's feedback -->
            <section id="feedback">
                <div class="centered">
                    <p class="subtitle upper">great words about maxcoach</p>
                    <p class="title">Our <span class="green thin">top learners'</span> verbatim</p>
                </div>
                <div class="cards flex">
                    <div class="card off">
                        <div class="card_title blue">
                            It's a choice of quality for people with special needs
                        </div>
                        <div class="card_text">
                            I'm a very strict person si I require everything to be organized and neat. Then, I'll be able to make things right ande shine. MaxCoach guys just got me.
                        </div>
                        <div class="card_contact flex">
                            <img src="img/testimonial-avata-03.jpg" alt="" class="circle">
                            <div class="contact_info flex">
                                <div class="contact_name upper">Florence themes</div>
                                <div class="contact_job subtitle little">/Multimedia Admin</div>
                            </div>
                        </div>
                    </div>
                    <div class="card on">
                        <div class="card_title">
                            High level of efficiency and scientific teaching methods
                        </div>
                        <div class="card_text">
                            I am free to learn at my own pace, follow my own schedule and choose the subject I want to learn from the syllabus. Great study portal for people like me.
                        </div>
                        <div class="card_contact flex">
                            <img src="img/testimonial-avata-02.jpg" alt="" class="circle">
                            <div class="contact_info flex">
                                <div class="contact_name upper">Mina Hollace</div>
                                <div class="contact_job subtitle little">/Freelancer</div>
                            </div>
                        </div>
                    </div>
                    <div class="card off">
                        <div class="card_title">
                            Professional team of specialists and passionate mentors at reach
                        </div>
                        <div class="card_text">
                            I need to get a certification for English proficiency and MaxCoach is my best choice. Their tutors are smart and professional when dealing with students.
                        </div>
                        <div class="card_contact flex">
                            <img src="img/testimonial-avata-01.jpg" alt="" class="circle">
                            <div class="contact_info flex">
                                <div class="contact_name upper">Madley pondor</div>
                                <div class="contact_job subtitle little">/IT Specialist</div>
                            </div>
                        </div>
                    </div>
                    <div class="nav_cards flex">
                        <i class="fas fa-circle active"></i>
                        <i class="fas fa-circle"></i>
                        <i class="fas fa-circle"></i>
                        <i class="fas fa-circle"></i>
                    </div>
                </div> 
                <div id="get_started">
                    <div class="centered">
                        <p class="little_title ">Start today for getting <span class="green thin">Online Certification</span></p>
                        <p class="title">You can be your own guiding star with our help!</p>
                        <button class="btn">Get started now</button>
                    </div>
                </div>
                
            </section>
            

            <!-- settima section del main: numbers -->
            <section id="numbers">
                <div class="cards wrap_70 flex">
                    <div class="card">
                        <div class="little_title">Successfully trained</div>
                        <div class="big_number">1790</div>
                        <div class="subtitle upper">enrolled learners</div>
                    </div>
                    <div class="card">
                        <div class="little_title">Successfully trained</div>
                        <div class="big_number">1790</div>
                        <div class="subtitle upper">enrolled learners</div>
                    </div>
                    <div class="card">
                        <div class="little_title">Successfully trained</div>
                        <div class="big_number">1790</div>
                        <div class="subtitle upper">enrolled learners</div>
                    </div>
                    <div class="card">
                        <div class="little_title">Successfully trained</div>
                        <div class="big_number">1790</div>
                        <div class="subtitle upper">enrolled learners</div>
                    </div>
                </div>
            </section>

            <!-- ottava section del main: most viewed -->
            <section id="most_viewed">
                <div class="blogs flex wrap_70">
                    <div class="blog_insights">
                        <p class="subtitle upper">enjoyable insights</p>
                        <p class="title">Most Viewed <span class="green thin">Best Blogs</span></p>
                        <ul>
                            <li class="flex" v-for="insight in main.insights">{{insight}}</li>
                        </ul>
                    </div>
                    <div class="blog">
                        <img src="img/artist-blog-03-480x352.jpeg" alt="">
                        <div class="blog_info flex">
                            <div class="subtitle upper">artist</div>
                            <div class="little_title">Brush Strokes Energize Trees in Paintings</div>
                            <p class="smallTxt subtitle"><i class="far fa-calendar"></i>May 15, 2020 <i class="far fa-eye"></i>688 views</p>    
                        </div>
                    </div>
                    <div class="blog">
                        <img src="img/artist-blog-01-480x352.jpg" alt="">
                        <div class="blog_info flex">
                            <div class="subtitle upper">artist</div>
                            <div class="little_title">Brush Strokes Energize Trees in Paintings</div>
                            <p class="smallTxt subtitle"><i class="far fa-calendar"></i>May 15, 2020 <i class="far fa-eye"></i>688 views</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- nona section del main: newsletter -->
            <section id="newsletter">
                <div class="centered">
                    <p class="title">Subscribe <span class="green thin">Newsletter</span></p>
                    <p class="subtitle">Enter your email address to register to our newsletter subscription delivere on a regular basis!</p>
                    <div class="flex mail_box">
                        <input class="mail" type="text" placeholder="Enter your email">
                        <button class="btn">Subscribe</button>
                    </div>
                </div>

            </section>
        

        </main> <!-- fine main -->
        
        <!-- inizio footer -->
        <footer>
            <div class="wrap_70">
                <div class="container flex">
                    <ul class="adress ">
                        <li v-for="line in footer.lists.adress">{{line}}</li>
                        <li v-html="footer.lists.adressLink"></li>
                    </ul>
                    <ul class="explore ">
                        <li v-for="item in footer.lists.explore">{{item}}</li>
                    </ul>
                    <ul class="information ">
                        <li v-for="info in footer.lists.information">{{info}}</li>
                    </ul>
                </div>
                <div class="centered credits smallTxt">{{ footer.credits }}</div>
            </div>
        </footer> <!-- fine footer -->

        <!-- piccola navbar a dx -->
        <div id="little_nav_right">
            <i class="fas fa-ruler-combined"></i>
            <i class="far fa-life-ring"></i>
            <i class="fas fa-book"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>

        <!-- scroll to top button -->
        <a class="to_top circle" href="#root">
            <i class="fas fa-long-arrow-alt-up"></i>
        </a>

    </div>
    <script src="js/root.js"></script>

</body>

</html>